name: CI

on:
  push:
    branches: ["demo", "main"]
  pull_request:
    branches: [ "main" ]    

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11.14"
          cache: "pip"

      - name: Install dependencies
        run: make install

      - name: Run lint
        run: make lint

  test:
    name: Tests
    runs-on: ubuntu-latest
    needs: [lint]
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11.14"
          cache: "pip"

      - name: Install dependencies
        run: make install

      - name: Run tests
        run: make test

  build:
    name: Docker Build
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: make docker-build
